<html> 
<head> 
<title>{Tabz}</title>

<link rel="stylesheet" type="text/css" href="style/dashboard.css">
<link rel="stylesheet" type="text/css" href="vendors/jScrollPane/style/jquery.jscrollpane.css">

<script src="src/jquery.js" type="text/javascript"></script>
<script src="src/jquery.tmpl.min.js" type="text/javascript"></script>
<script src="src/jquery.isotope.min.js" type="text/javascript"></script>

<script src="src/underscore-min.js" type="text/javascript"></script>
<script src="src/backbone.js" type="text/javascript"></script>
<script src="src/backbone.utils.js" type="text/javascript"></script>
<script src="src/backbone.localStorage.js" type="text/javascript"></script>
<script src="src/namespace.js" type="text/javascript"></script>

<script src="modules/user.js" type="text/javascript"></script>

<script src="src/lawnchair.js" type="text/javascript"></script>
<script src="src/lawnchair-webkit-sqlite.js" type="text/javascript"></script>

<script src="vendors/jScrollPane/script/jquery.mousewheel.js" type="text/javascript"></script>
<script src="vendors/jScrollPane/script/jquery.jscrollpane.min.js" type="text/javascript"></script>

<script src="app/dashboard/main.js" ></script>
<script src="app/dashboard/events.js" ></script>
</head>
<body>
	<header>
		<div id="logo">{Tabz}</div>
		<nav>
			<div>Current Content</div>
		</nav>
	</header>
	<section id="main"></section>
<!-- Templates Start, need to move to async load !-->
<template id="tabTemplate" text="text/template">
	<article class="tab {{if pinned}}pinned{{/if}}">
		<div class="container">
			<h4>
				{{if favIconUrl}}<img class="favicon" src="${favIconUrl}">{{/if}}
				${title}
			</h4>
			<div class="buttons">
				<a href="#${id}" class="add" style="display:none">Read later</a>
			</div>
			{{if !pinned}}<img class="close" src="images/close.png">{{/if}}
		</div>
	</article>
</template>
<template id="pagesTemplate" text="text/template">
	<div class="readItLaterTab"><a href="${url}">${title}</a></div>
</template>
<template id="appsTemplate" text="text/template">
	<div class="appTab"><a href="${appLaunchUrl}">${name}</a></div>
</template>
<template id="bookmarksTemplate" text="text/template">
	<div class="bookmarksTab"><a href="${url}">${title}</a></div>
</template>
<template id="logInToReadLaterTemplate" text="text/template">
	<div id="logInToReadLater">
		<p>User</p>
		<p><input id="user"/></p>
		<p>Password</p>
		<p><input type="password" id="password"/></p>
		<button >Log in</button>
	</div>
</template>
<!-- Templates End !-->
</body>
<html>
