@font-face {
    font-family: 'ColaborateThinRegular';
    src: url('../fonts/ColabThi-webfont.eot');
    src: url('../fonts/ColabThi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ColabThi-webfont.woff') format('woff'),
         url('../fonts/ColabThi-webfont.ttf') format('truetype'),
         url('../fonts/ColabThi-webfont.svg#ColaborateThinRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ColaborateBoldRegular';
    src: url('../fonts/ColabBol-webfont.eot');
    src: url('../fonts/ColabBol-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ColabBol-webfont.woff') format('woff'),
         url('../fonts/ColabBol-webfont.ttf') format('truetype'),
         url('../fonts/ColabBol-webfont.svg#ColaborateThinRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
template{
	display:none;
}

body{
	margin:0;
	background:url(../backs/wood_pattern.png);
}
h1,h2,h3,h4,h5,h6{
	font-family: 'ColaborateThinRegular', Arial, sans-serif;
	letter-spacing: 0;
	word-wrap: break-word;
}
header{
	position: absolute;
	left: 41px;
	top: 0;
}
header #logo{
	position: absolute;
	font-family:ColaborateBoldRegular;
	color: #444;
	background: url('../backs/ricepaper2.png');
	height: 40px;
	padding: 8px 20px 5px;
	font-size: 30px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0px 0px 3px #999;
	z-index: 30;
}
header #user{
	position: absolute;
	top: 4px;
	left: 123px;
	width: 100px;
	background: white;
	padding: 10px;
	z-index: 29;		
}
nav{
	font-family: 'ColaborateThinRegular', Arial, sans-serif;	
	position: absolute;
	right: 0;
	top: 0;
	font-size: 1.17em;	
	z-index: 20;		
}
nav ul{
	list-style: none;
	margin-right: 81px;	
}
nav ul li{
	float: right;
	margin: 0px 10px;	
	padding: 10px 10px;	
}

nav ul li.button{
	background: white;
	border-radius: 4px;
}

filters{
	font-family: 'ColaborateThinRegular', Arial, sans-serif;	
	position: absolute;
	right: 0;
	top: 0;
	padding-top: 42px;
	width: 147px;
	padding-left: 10px;
	height: 100%;
	background: white;
	opacity: .5;
	z-index: 10;	
}

filters h3{
	font-size: 1em;	
	margin-bottom: 5px;	
}
filters ul{
	list-style: none;
	padding-left: 10px;
	margin-top: 5px;	
}

#main{
	margin: 70px 175px 20px 20px;
	padding: 2px 2px;
	overflow: visible !important;
}

#main .card .buttons{
	text-align: right;
}

/* Helpers */
.clickable{
	cursor: pointer;
}

/* Old content */
.tab{}

.card{
	cursor: pointer;	
}

.card .container{
	opacity:0.95;
	background: white url(../images/content-area-bottombg.png) repeat-x bottom left;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	position: relative;
	min-height: 40px;
	margin: 9px 9px;
	padding: 24px 24px 35px;
}

.tab.pinned .container{
	box-shadow:0px 0px 5px #f6de81;
}
.tab .favicon{
	max-width:36px;
	max-height:36px;
}
.tab .close{
	position:absolute;
	right:-20px;
	top:-15px;
}
