@font-face {
    font-family: 'ColaborateThinRegular';
    src: url('../fonts/ColabThi-webfont.eot');
    src: url('../fonts/ColabThi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ColabThi-webfont.woff') format('woff'),
         url('../fonts/ColabThi-webfont.ttf') format('truetype'),
         url('../fonts/ColabThi-webfont.svg#ColaborateThinRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ColaborateBoldRegular';
    src: url('../fonts/ColabBol-webfont.eot');
    src: url('../fonts/ColabBol-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ColabBol-webfont.woff') format('woff'),
         url('../fonts/ColabBol-webfont.ttf') format('truetype'),
         url('../fonts/ColabBol-webfont.svg#ColaborateThinRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
template{
	display:none;
}

body{
	margin:0;
	background:url(../backs/2.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'ColaborateThinRegular', Arial, sans-serif;
	letter-spacing: 0;
	word-wrap: break-word;
}
nav{
	background-color: #00A0C6;
	width: 210px;
	padding: 10px 0px 0px 30px;
	position: fixed;
	z-index: 100;
	height: 100%;
	float: left;
	color: white;
}
nav h1,nav h2,nav h3,nav h4,nav h5,nav h6{
	margin: 0
}
nav h2{
	font-size: 19px;
}
nav h1{
	font-size: 40px;
}
tabs{
	position: absolute;
	top: 186px;
	left: 53px;
	-webkit-transform: rotate(90deg);
	z-index: 10;
	font-family:ColaborateBoldRegular;
	cursor : pointer;
}
tabs div{
	float:right;
	padding:10px;
	background: blue;
	margin-right: 7px;
	color: white;
}
.chromeApps{
	background: #1a77bd;	
}
.chromeBookmarks{
	background: #00A086;	
}
.readItLater{
	background: #00A0C6;
}
#content{
	display: none;
	background-color: #FFF;
	padding-left  : 260px;
	padding-top   : 20px;
	padding-bottom: 20px;
	padding-right : 20px;
	width :660px;
	position: absolute;
	z-index: 99;
	float: left;
	color: black;
}
#content #entry{
	text-align : justify;
}
#content #controls{
	position: fixed;
	z-index: 99;
	width: 100px;
	height: 100px;
	top: 20px;
	left: 936px;
	background: white;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}
box{
	display: none;
	position: fixed;
	z-index: 98;	
	background:black;
	opacity:0.8;
	width:100%;
	height:100%;
}
#main{
	margin: 0px 20px 0px 290px;
	padding: 20px 0px 20px 0px;
}
.tab{
	width: 263px;
	float: left;
	margin: 0 18px 17px 0;
	position: relative;
	padding: 24px 24px 35px;
	min-height: 40px;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	background: white url(../images/content-area-bottombg.png) repeat-x bottom left;
	opacity:0.95;
}
.tab.pinned{
	box-shadow:0px 0px 5px #f6de81;
	outline:#f6de81 solid 2px;
}
.tab .favicon{
	max-width:36px;
	max-height:36px;
}
.tab .close{
	position:absolute;
	right:-20px;
	top:-15px;
}
#pages{
	padding: 0;
	margin-top: 10px;
	width: 176px;
}

#pages > div{
	margin-bottom:10px;
	list-style:none;
}
#pages > div a{
	color:white;
	text-decoration:none;
	font-family: 'ColaborateThinRegular', Arial, sans-serif;letter-spacing: 0;
}

.procesing{
	opacity : 0.1;
}

.buttons .add{
	float:right;
	text-decoration:none;
	font-family: 'ColaborateThinRegular', Arial, sans-serif;letter-spacing: 0;
}


/* jScrollPane */
.jspVerticalBar
{
	left: 0;
}